{% extends 'back.html.twig' %}

{% block content %}
<div class="card border-secondary m" >
  <div class="card-header"><h3 class="card-title"> {{category.title}}</h3></div>
  <div class="card-body">
    <h4 class="card-title">{{ category.slug }}</h4>
    <p class="card-text">{{ category.description }}</p>
  </div>
   <div class="card-footer text-muted">
    Crée le: {{ category.createdAt|date('d/m/Y') }}
    Modifié le : {{ category.updatedAt|date('d/m/Y') }}
  </div>
</div>

  

    
            <a class="btn btn-default" href="{{ path('admin_category_index') }}">Retour</a>
            <a class="btn btn-warning" href="{{ path('admin_category_edit', { 'id': category.id }) }}">Editer</a>
       
{% endblock %}
