<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <link rel="stylesheet" type="text/css" href="{{ asset('back/bootstrap.css')}}">
        <link rel="stylesheet" type="text/css" href="{{ asset('fontawesome/css/font-awesome.min.css')}}">

    </head>
    <body>
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#">MyApplication</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>

      <div class="collapse navbar-collapse" id="navbarColor02">
      <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#"><i class="fa fa-home" style="color:white"></i>Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">blog</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">contact</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">About US</a>
      </li>
     
      </ul>
      <ul class="navbar-nav navbar-right">
        {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
        <li class="nav-item" ><a class="nav-link" href="">Connecte tant que :{{app.user.username}}</a></li>
        <li class="nav-item "><a class="nav-link" href="{{path('fos_user_security_logout')}}"><i class="fa fa-sign-out" style="color:white"></i>Déconnexion</a></li>
        {% else %}
        <li class="nav-item "><a class="nav-link" href="{{path('fos_user_security_login')}}"><i class="fa fa-sign-in"style="color:white"></i>Connexion</a></li>
        <li class="nav-item "><a class="nav-link" href="{{path('fos_user_registration_register')}}"><i class="fa fa-user-plus" style="color:white"></i>S'enregistrer</a></li>
        {% endif %}
      </ul>

    
      </div>
      </nav>

      <div class="container-fluid">
        <div class="row">
          <div class="col-md-4"> {% block breadcrumb %}{% endblock %}</div>
          <div class="col-md-8" align="right">
            <select name="accesRapide" class="">
              <option value="">Nouvelle Catégorie</option>
              <option value="">Nouveau Article</option>
            </select>

          </div>

        </div>
        <div class="row">
          <div class="col-md-3">
            <ul class="list-group">
              <li class="list-group-item"><a href="">Tableau de bord</a></li>
              <li class="list-group-item">Catégorie</li>
              <li class="list-group-item"><a href="{{ path('admin_category_index') }}">Liste des Catégories</a></li>
              <li class="list-group-item"><a href="{{ path('admin_category_new') }}">Nouvelle Catégorie</a></li>
              <li class="list-group-item">Article</li>
              <li class="list-group-item"><a href="">Liste des Articles</a></li>
              <li class="list-group-item"><a href="">Nouveau Article</a></li>
              <li class="list-group-item">Administration</li>
              <li class="list-group-item"><a href="">Paramétrage</a></li>
              <li class="list-group-item"><a href="">Statistique</a></li>

            </ul>
          </div>
          <div class="col-md-9">
            {{ include('alert.html.twig')}}

          {% block content %}{% endblock %}</div>
        </div>
      </div>
        
        {% block javascripts %}{% endblock %}
    </body>
</html>
